.container{
    height: 700px;
    background-color: white;
    background: url(/Users/htgparticipant/Documents/FrontEndDev/Llemon-Captstone-Project/react-capstone/src/Assets/Greek.jpg);
    position: relative;
    background-repeat: no-repeat;
    background-size: 1500px 800px;
    border-bottom: solid 2px;
}
h1{
    margin: 0px;
    padding-top: 25px;
}
.hero-container{
    border: solid;
    display: inline-block;
    box-sizing: border-box;
    height: 300px;
    width: 550px;
    color: white;
    background-color: rgba(0, 0, 0, 0.841);
    text-align: center;
    margin-top: 200px;
    padding-left: 25px;
    padding-right: 25px;
    line-height: 30px;
    position: absolute;
    left: 100px;
    bottom: 100px;
}

.hero-container > p{
    font-size: larger;
}

.hero-content{
    margin-top: auto;
    margin-bottom: auto;
}
.hero-container > button{
    font-size: 16px;
    font-weight: 600;
    margin: 0 0.5rem 0 0 ;
    color: black;
    background-color: #f4ce14;
    padding: 5px 10px 5px 10px;
    font-size: large;
    border-radius: 20px;
}
.hero-container > button:hover{
    background-color: #f6d843;
    transform: scale(1.05);
    cursor: pointer;
    
}