
/* Header component styles */
.colors{
    color: #475C55;
    color: #e2dfcf;
    color: #f4ce14;
  }
  
  
  
  header{
    background-color: #475C55;
    display: flex;
    border-bottom: solid;
    position: sticky;
    top: 0;
    z-index: 999;
  }
  header h1{
    font-size: 3em;
    color: #f4ce14;
    padding-left: 20px;
    flex: 1;
    padding-bottom: 30px;
    margin-top: auto;
    margin-bottom: auto;
  }
  nav{
    padding-left: 50px;
    text-align: center;
    font-size: larger;
    flex: 2;
    margin-top: auto;
    margin-bottom: auto;
  }
  a{
    color: white;
    padding-left: 50px;
    padding-right: 50px;
    text-decoration: none;
  }
  a:hover{
    background-color: #f4ce14;
    padding-top: 20px;
    padding-bottom: 20px;
    color: black;
    transition: .2s;
    text-decoration: underline 2px black;
    text-underline-offset: 3px;
  }